.img-box {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: .5rem;
    background: var(--white);
    border: 1px solid var(--gray-400);
  }
  
  .img-box-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
  }
  
  .img-box-overlay {
    display: none;
  }
  
  .img-box-title-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    text-align: center;
    color: var(--gray-600);
  }
  
  .img-box-overlay {
    position: absolute;
    background: rgb(255 255 255 / 87%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    font-size: 1.125rem;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  .img-box:hover .img-box-overlay {
    opacity: 1;
    visibility: visible;
  }
  
  .img-box:hover .img-box-img {
    transform: scale(1.2);
  }
  